@charset "utf-8";

* {
    font-family: sans-serif, serif, "メイリオ";
}

body {
    background-color: #f0f4f8;
    color: #333333;
    line-height: 1.5rem;
}

header {
    background: linear-gradient(#1877f2, #004494);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

nav a {
    color: #ffffff;
    margin: 0 8px;
    padding: 4px 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none; /* リンクの下線を消す */
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 24px;
    row-gap: 1em;
    margin-top: 20px;
}

section {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
}

h2 {
    color: #004494;
    text-align: left;
}

table {
    border: 1px solid #000000;
    border-collapse: collapse; /* 表の隙間を埋める */
    width: 100%;
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
}

th {
    background-color: #f1f5f9;
}